* {
    box-sizing: border-box;
    font-family: "Open Sans";
}
.container {
    width: 1000px;
    margin: auto;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #e9e9e9;
    width: 100%;
    padding: 0 20px;
}

h1 {
    color: #252525;
    font-size: 20px;
    font-weight: normal;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
}

.menu button {
    height: 100%;
    padding: 5px 10px;
    display: inline-block;
    background-color: white;
    border: 1px solid #b6b6b6;
    border-radius: 3px;
}

.accounts {
    text-align: center;
    width: 100%;
    margin-top: 20px;
    border: 1px solid #cbcbcb;
    font-size: 13px;
}

.accounts tbody tr:first-child {
    font-weight: bold;
}

.accounts img   {
    width: 40%;
}

.accounts tr {
    margin: 0;
    padding: 0;
}

.accounts tr:hover {
    background-color: #f1f1f1;
}

.accounts td {
    margin: 0;
    padding: 5px;
    border: 1px solid #cbcbcb;
    cursor: pointer;
}

.accounts input {
    width: 100%;
    text-align: center;
}

.number {
    width: 15px;
}

.selorder {
    width: 50px;
}

.seller {
    width: 50px;
}

.login {
    width: 200px;
}

.password {
    width: 100px;
}

.priceold {
    width: 100px;
}

.pricenew {
    width: 100px;
}

.profit {
    width: 100px;
}

.password {
    width: 100px;
}

.buyer {
    width: 200px;
}

.info-icon {
    width: 40px;
}

.del {
    width: 40px;
}

.clear {
    width: 40px;
}
.noti {
    position: absolute;
    left: 30px;
    bottom: 30px;
}

.noti div {
    margin-top: 15px;
    display: block;
    padding: 10px 20px;
    position: relative;
}

.alert {
    background-color: #e9e9e9;
}

.success {
    background-color: darkseagreen;
}

.error {
    background-color: indianred;
}

.info {
    display: block;
    height: 100%;
    width: 20%;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: gray;
}

.info .header .title {
text-align: center;
    margin: 0;
    font-size: 30px;
}
.info div {
    width: 100%;
    font-size: 13px ;
    margin-bottom: 20px;
}
.info div p:first-child {
    font-weight: bold;
}

.info .info-close {
    width: 50px;
    transform: rotate(45deg);
    position: absolute;
}

.info .order p,
.info .selorder p,
.info .buyer p,
.info .ip p {
    display: inline-block;
}

.option {
    display: flex;
    justify-content: center;
}
.option img {
    width: 50px;
margin: 50px;
    cursor: pointer;
}


