.header
  display: flex;
  //justify-content: space-between;
  align-items: center;
  background-color: #e9e9e9;
  width: 100%;
  padding: 0 20px;
  .logo
    font-size: 20px
  .menu
    list-style: none
    margin-left: auto
    font-size: 15px
    li
      display: inline-block
      margin-right: 2rem
      position: relative
    a
      text-decoration: none
      color: inherit
    .active:after
      position: absolute
      content: ""
      display: block
      width: 7px
      height: 7px
      border-radius: 50%
      background-color: black
      overflow: auto;
      margin: auto;
      left: 0
      right: 0